html, body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

#top-bar {
    text-align: right;
    width: 100%;
    height: 50px;
    background-color: forestgreen;
}

#beige-bar {
    width: 100%;
    height: 10px;
    background-color: peachpuff;
}

h1 {
    color: rgb(77, 45, 45);
    text-align: center;
    font-size: 40px;
}

.nav-links {
    font-size: 20px;
    color: white;
    margin: 10px;
    line-height: 45px;
    display: inline;
}

footer {
    border-top: 6px solid rgb(77, 45, 45); 
    position: relative;
    top: 350px;
    width: 100%;
    height: 300px;
    background-color: peachpuff;
}